.test {
	margin: 2px 0 2px 0;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 0;
	padding-left: 0;
}
.test2 {
	padding: 2px 0 2px 0;
	margin-left:2px;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 2px;
}